.footer-item {
  border-radius: 8px;
  padding: 10px;
  width: 80px;
}

.footer {
  background-color: #020403;
  color: #fac371;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer a {
  color: #fac371 !important;
}